.productCard img{
    width: 200px;
    margin: 0px auto;
}
.productCard{
    width: 350px;
    border: none;
    padding: 10px;
    margin: 7px;
}
.productCard h3{
    font-size: 18px;
}
.productCard:hover{
    box-shadow: 0px 0px 6px 1px grey;
    border: .5px solid lightgray;
    transition: 1s;
}